* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.IDE {
    height: 100vh;
    width: 100%;
    background-color: #252525;
    display: grid;
    grid-template-columns: 48px 230px auto;
    grid-template-rows: 30px auto 22px;
    grid-template-areas: "upperNav upperNav upperNav" "asideNav asideExplorer codeContainer" "footer footer footer";
}

.upperNav {
    justify-content: space-between;
    grid-area: upperNav;
    background-color: blue;
    border: none;
}

.upperNav>div>p {
    color: white;
    padding: 5px;
    border: none;
}

.upperNav>div>i {
    color: white;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.asideNav {
    grid-area: asideNav;
    flex-wrap: wrap;
}

.asideNav>div {
    border: none;
}

.asideNav>div>img {
    padding: 10px;
}

.asideExplorer {
    grid-area: asideExplorer;
    background-color: #2c2c2c;
}

.asideExplorer>div>p {
    padding: 10px;
    color: white;
}

.asideBottom {
    border: none;
    color: white;
    background-color: #414040;
}

.codeContainer {
    grid-area: codeContainer;
    display: grid;
    grid-template-columns: 68px auto;
    grid-template-rows: 35px 22px auto 22px;
    grid-template-areas: "codeContainerFile codeContainerFile" "codeContainerFilePath codeContainerFilePath" "codeContainerCounter codeContainerCodeSpacing" "codeContainerCounter codeContainerSpacing";
}

.tag {
    padding: 0.6%;
    width: 110px;
    height: 35px;
    background-color: #333333;
}

.codeContainerFile {
    grid-area: codeContainerFile;
}

.codeContainerFilePath {
    grid-area: codeContainerFilePath;
}

.codeContainerCounter {
    grid-area: codeContainerCounter;
}

.codeContainerCodeSpacing {
    grid-area: codeContainerCodeSpacing;
}

.codeContainerSpacing {
    grid-area: codeContainerSpacing;
}

.footer {
    grid-area: footer;
}

.d-flex {
    display: flex;
}